* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: white;
  margin: 0;
}

/* Banner part */
.header-container {
  background-image: url('https://img.freepik.com/free-photo/beautiful-shining-stars-night-sky_181624-622.jpg');
  background-size: cover;
  height: 350px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.content-container h1 {
  margin: 0;
}

.content-container hr {
  width: 20%;
  height: 3px;
  background: orangered;
  border: 0; 
  margin: 0;
}

.content-container p {
  margin: 0;
  text-align: center;
}

.content-container button {
  background: orangered;
  padding: 10px 15px;
  border: 0;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: background .3s ease-out;
 }

 .content-container button:hover {
  background: orange;
 }

 /* End or banner part */

 
 /* Gallery part */

 /* End of gallery part */