* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* Write your style here  */
/* If you need and image, you can find all resources in assets folder. */